@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* Navigation */
.first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    background-color: white; 
    position: sticky; 
    top: 0;
}
#platform {
    font-size: 30px;
    margin-left: 10%;
    margin-top: 2%;
}
#icon {
    width: 100px;
    margin-right: 10%;
    margin-top: 0;
}


/* Showcase header part */
.showcase .img {
    background-image: url(https://i.pinimg.com/564x/36/2a/7d/362a7d9932cdae670c0e4317a430fc32.jpg) ;
    background-position: center;
    background-size: cover;
    height: 80vh;
    opacity: 0.7;
}
.showcase .img .text {
    text-align: center;
    padding-top: 15%;
    color: white;
}
.showcase .img .text h2 {
    font-size: 70px;
}
.showcase .img .text p {
    font-size: 40px;
    margin-left: 250px;
    margin-right: 250px;
}
.showcase .img .text .input input {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 10px;
    font-size: 40px;
    font-family: 'Hedvig Letters Serif', serif;

}
.showcase .img .text .input .button {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
    background-color: darkred;
    color: white;
    padding: 5px;
    margin: 0;
    font-size: 30px;
    position: relative;
    top: -3px;
    font-family: 'Hedvig Letters Serif', serif;
    margin-left: 10px;
}
.showcase .img .text .input .button:hover {
    background-color: #f4c430;
}

/* Sections part */
.characters .character {
    margin-top: 1%;
    height: 60vh;
    background-color: firebrick;
    border: 3px solid rgb(236, 169, 25);
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}
.characters h2 {
    text-align: center;
    font-size: 50px;
}
.characters .character .HP img {
    width: 300px;
    height: 380px;
    border-radius: 10px;
}
.characters .character .RW img {
    width: 330px;
    height: 380px;
    border-radius: 10px;
}
.characters .character .HP a {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.characters .character .RW a {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

/* Main Part */
.inf .main #table, 
.inf .main #logos {
    float: left;
    font-size: 30px;
    height: 60vh;
    margin-top: 15px;
}

 /* Table */
 .inf .main #table table {
    width: 800px;
    height: 400px;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid;
    text-align: center;

}
.inf .main #table table tr .facts {
    background-color: darkred;
    color: white;
    padding: 3px;
}

/* Logos */
.inf {
    height: 50vh;
}
.inf .main #logos #gs #gryffindor,
.inf .main #logos #gs #slytherin,
.inf .main #logos #rh #ravenclaw,
.inf .main #logos #rh #hufflepuff {
    width: 350px;
    margin: 0;
}
.inf .main #logos #gryffindor,
.inf .main #logos #ravenclaw {
    margin-left: 150px;
}


/* Article Part */
.parts {
    background-color: white;
    height: 100vh;
}
.parts h3 {
    width: 17%;
    margin-left: 40%;
    font-size: 30px;
    text-align: center;
    color: darkred;
}
.parts #one img {
    margin-top: 10px;
    margin-left: 50px;
    width: 500px;
    height: 500px;
}
.parts #two img {
    width: 300px;
    height: 400px;
    margin-left: 70px;
    margin-top: 10px;
}
.parts #two #hard {
    width: 500px;
    height: 400px;
    margin-left: 0;
    margin-top: 10px;
}
.parts #two #hd {
    margin-left: 6%;
    width: 300px;
    height: 400px;
    margin-top: 10px;
}
.parts #two #ar {
    margin-left: 0;
    width: 300px;
    height: 400px;
    margin-top: 10px;
}
/* Footer Part */
.finish img {
    width: 100%;
    height:20vh;
    z-index: 1;
    position: absolute;
    top: 340%;
    
}
.finish #create h4 {
    display: grid;
    justify-content: center;
    width: 500px;
    margin-left: 35%;
    margin-top: 4%;
    position: absolute;
    top: 340%;
    z-index: 2;
    font-size: 50px;
    color: white;
}

/* Responsive Design */
@media screen and (min-width: 0px) and (max-width: 768px) {
    /* Navigation */
    #platform {
        font-size: 20px;
    }
    #icon {
        width: 50px;
    }
    /* Showcase header part */
    .showcase .img .text h2 {
        font-size: 40px;
    }
    .showcase .img .text p {
        font-size: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .showcase .img .text .input input {
        width: 50%;
        height: 20px;
        padding: 10px;
        font-size: 30px;
    }
    .showcase .img .text .input .button {
        padding: 5px;
        width: 52%;
        font-size: 20px;
        position: absolute;
        top: 75%;
        right: 23%;
        margin-left: 0;
    }
    /* Sections part */
    .characters .character {
        margin-top: 5%;
        height: 40vh;
        padding-top: 5%;
    }
    .characters h2 {
        font-size: 20px;
    }
    .characters .character .HP img {
        width: 100px;
        height: 120px;
        padding-left: 5%;
    }
    .characters .character .RW img {
        width: 100px;
        height: 120px;
    }
    .characters .character .HP a {
        font-size: 15px;

    }
    .characters .character .RW a {
        font-size: 15px;
    }
    /* Main Part */
    .inf .main #table, 
    .inf .main #logos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 30px;
        height: 43vh;
        margin-top: 15px;
    }

    /* Table */
    .inf .main #table table {
        width: 100%;
        height: 200px;
        margin-left: 0;
        margin-top: 0;
    }
    .inf .main #table table tr .facts {
        padding: 0;
        font-size: 60%;
    }
    .inf .main #table table tr td {
        font-size: 60%;
    }
    /* Logos */
    .inf {
        height: 90vh;
    }
    .inf .main #logos #gs #gryffindor,
    .inf .main #logos #gs #slytherin,
    .inf .main #logos #rh #ravenclaw,
    .inf .main #logos #rh #hufflepuff {
        width: 200px;
        margin: 0;
    }
    .inf .main #logos #gryffindor,
    .inf .main #logos #ravenclaw {
        margin-left: 0;
    }
    /* Article Part */
    .parts {
        height: 90vh;
    }
    .parts h3 {
        width: 50%;
        margin-left: 25%;
        font-size: 20px;
    }
    .parts #one img {
        margin-top: 0;
        margin-left: 5%;
        width: 100px;
        height: 100px;
    }
    .parts #two img {
        width: 100px;
        height: 130px;
        margin-left: 20%;
        margin-top: 5%;
    }
    .parts #two #hd {
        margin-left: 5%;
        width: 100px;
        height: 130px;
        margin-top: 0;
    }
    .parts #two #hard {
        width: 150px;
        height: 130px;
        margin-left: 13%;
        margin-top: 0;
    }
    .parts #two #ar {
        margin-left: 0;
        width: 100px;
        height: 130px;
        margin-top: 0;
    }
    /* Footer Part */
    .finish img {
        width: 100%;
        height: 10vh;
        position: absolute;
        top: 330%; 
    }
    .finish #create h4 {
        width: 70%;
        margin-left: 15%;
        position: absolute;
        top: 330%;
        font-size: 150%;
    }
}